on boot
    setprop sys.fp.navigation.enable 1

on fs
    chown system system /dev/goodix_fp
    chmod 666 /dev/goodix_fp

on post-fs-data
    mkdir /data/system/fingerprint 0770 system system

service gx_fpd /vendor/bin/gx_fpd
    class main
    user system
    group system
    #disable

on property:sys.fih.fingerprint=false
    stop gx_fpd
    start gx_fpd
    setprop sys.fih.fingerprint true

on property:ro.boot.gxfp_lv=true
    setprop sys.gxfp.lv 1
    
on property:sys.boot_completed=1
    restorecon_recursive /data/system/fingerprint/

on property:vendor.gxfp.version=*
    setprop vendor.fp.firmware.version  Goodix-${vendor.gxfp.version}