on boot
    chown system system /dev/goodix_fp
    chmod 0644 /dev/goodix_fp

on init
    setprop persist.fp.navigation 1
    setprop persist.close.keymaster 1
    #setprop persist.enable.esd 1

on post-fs-data
    mkdir /data/system/fingerprint 0770 system system

service gx_fpd /vendor/bin/gx_fpd
    class main
    user system
    group system
    #disable

on property:sys.fih.fingerprint=false
    stop gx_fpd
    start gx_fpd
    setprop sys.fih.fingerprint true

on property:ro.boot.gxfp_lv=true
    setprop sys.gxfp.lv 1

on property:sys.boot_completed=1
    restorecon_recursive /data/system/fingerprint/

